

<link rel="stylesheet" href="/public/pages/home/components/aboutChurch/aboutChurch.css" type="text/css">
<div id="bigFamily">
    <div id="blockTitle">
        <h2>
            ՄԵԾ
            ԸՆՏԱՆԻՔ
        </h2>
    </div>
    <div id="blockDescription">
        <p>Մեր նպատակն է առաջնորդել մարդկանց Հիսուս Քրիստոսի հետ անձնական փոխհարաբերության։</p>
        <p><b><i>Եվ այն ազատությունով, որ Քրիստոսը մեզ ազատեց, հաստատ մնացեք եւ դարձյալ ծառայության լծի տակ մի մտեք։ (Գաղատացիս 5։1)</i></b></p>
        <div id="toChurchPage">
            <a href="/church" ><b>Ավելին</b></a>
        </div>
    </div>
</div>