@import url("/public/pages/fonts.css");



body, html {
    margin:0%;
    width: 100%;
    height: 100%;
    font-family: 'bainsley';
}

body {
    display: none;
}

:root {
    --animation-curve: cubic-bezier(1,0,0,1)
}