<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <link rel="stylesheet" href="/public/css/admin.css" type="text/css">

    <main>
        <div>
            <ul>
                <li>Add Blog</li>
                <li>Change Pastor Image</li>
                <li>Upload Image</li>
                <li>Chnage video count</li>
                <li></li>
            </ul>
        </div>
    </main>

    <script src="/public/js/components/header.js"></script>
    <script src="/public/js/components/footer.js"></script>
    
</body>
</html>