<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>վիդեոներ</title>
    <link rel="stylesheet" href="/public/css/videos.css" type="text/css">

</head>
<body>
    <header></header>
    
    <div id="modalWrapper">
        <div class="modal-content" id="myModal">
            <div><p><a href="/"><b>Սկիզբ</b></a></p></div>
            <div><p><a href="/church"><b>Եկեղեցի</b></a></p></div>
            <div><p><a href="/our_services"><b>Ծառայություններ</b></a></p></div>
            <div><p><a href="/videos"><b>Տեսանյութեր</b></a></p></div>
            <div><p><a href="/donation"><b>Նվիրաբերել</b></a></p></div>
            <div><p><a href="/visitUs"><b>Այցելեք մեզ</b></a></p></div>
        </div>
    </div>    

    <main>

        <div id="backgroundBlock">
            <h1>ՆՈՐ ՍԵՐՈՒՆԴԸ YOUTUBE-ՈՒՄ</h1>
        </div>
        
        <div id="videos"></div>
        
    </main>

    <footer></footer>
    
</body>
<script src="/public/js/components/header.js"></script>
<script src="/public/js/components/footer.js"></script>
<script src="/public/js/videos.js"></script>
</html>