<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>վիդեոներ</title>
    <link rel="stylesheet" href="/public/css/videos.css" type="text/css">

</head>
<body>
    

    <main>

        <div id="backgroundBlock">
            <h1>ՆՈՐ ՍԵՐՈՒՆԴԸ YOUTUBE-ՈՒՄ</h1>
        </div>
        <div id="videos"></div>
    </main>

    
</body>
<script type="module" src="/public/js/components/header.js"></script>
<script type="module" src="/public/js/components/footer.js"></script>
<script type="module" src="/public/js/videos.js"></script>
</html>