<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>եկեղեցի</title>
</head>
<link rel="stylesheet" href="/public/css/church.css" type="text/css">
<body>
    <header>
        <div class="navBar" id="logo"></div>
        <div class="navBar"><b><a href="/church">Եկեղեցի</a></b></div>
        <div class="navBar"><b><a href="/our_services">Ծառայություններ</a></b></div>
        <div class="navBar"><b><a href="/videos">Վիդեոներ</a></b></div>
        <div class="navBar"><b><a href="/donation">Նվիրաբերել</a></b></div>
        <div class="navBar"><b><a href="/visitUs">Այցելեք մեզ</a></b></div>
        <div id="mobileNavToggle">
            <input id="toggle" type="checkbox">
            <label id="toggleLabel" for="toggle"></label>
        </div>  
    </header>
    
    <div id="modalWrapper">
        <div class="modal-content" id="myModal">
            <div><p><a href="/"><b>Սկիզբ</b></a></p></div>
            <div><p><a href="/church"><b>Եկեղեցի</b></a></p></div>
            <div><p><a href="/our_services"><b>Ծառայություններ</b></a></p></div>
            <div><p><a href="/videos"><b>Վիդեոներ</b></a></p></div>
            <div><p><a href="/donation"><b>Նվիրաբերել</b></a></p></div>
            <div><p><a href="/visitUs"><b>Այցելեք մեզ</b></a></p></div>
        </div>
    </div>    

    <main>
        <div id="welcome">
            <h1>ԵԿԵՂԵՑԻ</h1>
        </div>

        <div id="ourTeam">
            <h2>ՄԵՆՔ</h2>
            <div id="personWrapper">
                <!-- Pastor Section -->
                <div id="Pastor">
                    <div class="personImage" style="background-image: url('/public/images/pastor.webp');"></div>
                    <div class="info">
                        <h2>Տիգրան Թադևոսյան</h2>
                        <p><b>Հովիվ</b></p>
                        <p>info@mysite.com</p>
                    </div>
                </div>
                 
                <!-- Other Team Members Section v
                <div id="others">
                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/familyPastor.webp');"></div>
                        <div class="info">
                            <h2>Eric Stone</h2>
                            <p>Family Pastor</p>    
                            <p>info@mysite.com</p>
                        </div>
                    </div>
        
                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/youthDirector.webp');"></div>
                        <div class="info">
                            <h2>John Doe</h2>
                            <p>Youth Director</p>    
                            <p>info@mysite.com</p>
                        </div>
                    </div>

                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/worshipPastor.webp');"></div>
                        <div class="info">
                            <h2>Edna Doyle</h2>
                            <p>Worship Arts Pastor</p>
                            <p>info@mysite.com</p>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </div>
        
        <div id="basicFaith">
            <h3>ՀԱՎԱՏՔԻ ՀԻՄՔԵՐԸ</h3>
            <div class="bibleTextWrapper">
                <div class="bibleTextSection">
                    <ul>
                        <li><u>Աստվածաշունչ</u> - Մենք հավատում ենք, որ միայն և միայն  Աստվածաշունչն է ճշմարիտ Աստծո Խոսքը <i>(2 Տիմ. 3:16, 2 Պետ. 1:20-21):</i></li>
                        <li><u>Եռամեկություն</u> - Մենք հավատում ենք եռամեկության ուսմունքին՝ Հայր, Որդի« Հիսուս և Սուրբ Հոգի <i>(Ծննդ. 1:26, Մթ. 28:19, 3:16-17):</i></li>
                        <li><u>Հիսուս Քրիստոս</u> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը Աստծո Որդին է: Երկրի վրա Նա ներկայացավ և՛ որպես ճշմարիտ Աստված, և որպես մարդ: Նա միակն էր, ով ապրեց առանց մեղքի <i>(Հովհ.1:1, 1:14, 20:28 և 1 Տիմ. 3:16):</i></li>
                        <li><u>Ծնունդը կույսից</u> - Մենք հավատում ենք, որ կույս Մարիամը ընդունեց Աստծուց Հիսուս Քրիստոսին՝ Սուրբ Հոգու միջոցով: Նրան անվանում են Աստծո Որդի, որովհետև Նա ծնվեց  Աստվածային Սուրբ Հոգուց <i>(Մթ. 1:18, 1:20, Ղուկ. 1:35):</i></li>
                        <li><u>Մեղքի մերժումը</u> - Յուրաքանչյուրի ձգտումն է դեպի Հիսուս Քրիստոսին, Նրա անունով մեղքերի թողության ընդունումը <i>(Գործք. 2:38, 3:19):</i></li>
                        <li><u>Սրբացումը</u> - Կատարյալ նվիրման պրոցեսն է Աստծուն, որպեսզի նմանվենք Քրիստոսին <i>(1 Թես. 4:3, 5:23):</i></li>
                        <li><u>Սրբացումը</u> - Հիսուս Քրիստոսին, Նրա մահվանն ու հարությանը հավատալով է: Փրկությունը Աստծո պարգև է, այն մեր բարի գործերով չէ և ոչ էլ մարդկային ձեռքբերումներով <i>(Գաղ. 2:16, Տիտ. 3:5):</i></li>
                        <li><u>Հիսուսի արյունը</u> - Որ թափվեց Գողգոթայի խաչի վրա, մաքրում է մեզ բոլոր մեղքերից: Հիսուսը վերցրեց աշխարհի բոլոր մեղքերը <i>(1 Հովհ. 1:7, Հայտ. 1:5, 5:9):</i></li>
                        <li><u>Քրիստոսը բնակվում</u> է բոլոր հավատացյալների մեջ: Քրիստոնյան այն մարդն է, որը խնդրում է Տեր Հիսուս Քրիստոսին մտնել և բնակվել իր սրտում: Քրիստոնյայի հույսը արդարացված է այն ամենով, ինչ արեց Քրիստոսն իր համար. Նա մահացավ, թաղվեց և հարություն առավ մեռելներից <i>(Հովհ. 14:17, 14:2, 1:12, 15:14):</i></li>
                </div>

                <div class="bibleTextSection">
                    <ul>
                        <li><u>Հարություն</u> - Մենք հավատում ենք, որ, խաչի վրա մահանալուց երեք օր հետո, Հիսուս Քրիստոս հարություն առավ մեռելներից: Կգա ժամանակ, երբ բոլոր Հիսուս Քրիստոսին հավատացողները նույնպես հարություն կառնեն, որպեսզի ստանան իրենց պարգևը՝ հավիտենական կյանք երկնքում` Աստծո մոտ <i>(Ղուկ. 24:36, 24:39, 1 Կորնթ. 15:42, 15:44):</i></li>
                        <li><u>Երկինքը</u> բոլոր հավատացյալների հավիտենական բնակության վայրն է <i>(2 Կորնթ. 5:1, 1 Պետրոս 1:4):</i></li>
                        <li><u>Դժոխք</u> - Մենք հավատում ենք, որ բոլոր մեղավորները  իրենց երկրային կյանքից հետո պետք է դատվեն Աստծո կողմից և ուղարկվեն դժոխք <i>(Եբր. 9:27, Մթ. 25:41):</i></li>
                        <li><u>Ջրի մկրտություն</u> - Աստծո Խոսքը ասում է` նրանք ովքեր հավատում են Տեր Հիսուս Քրիստոսին, պետք է մկրտվեն ջրով՝ Հիսուս Քրիստոսի անունով <i>(Մթ. 28:19, Հովհ. 1:26, Գործք. 2:38):</i></li>
                        <li><u>Խորհրդավոր ընթրիքը</u> - հիշողության հատուկ ժամանակ է Աստծո ներկայության մեջ:Հացը և  գինին խորհրդանշում են Հիսուս Քրիստոսի մարմինը և արյունը <i>(1 Կորնթ. 11:23-25, Մկ. 14:22-25):</i></li>
                        <li><u>Երկրորդ գալուստը</u> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը  գալու է երկիր երկրորդ անգամ՝ Իր Արքայությունը հաստատելու համար: Նրա գալուստը տեսանելի է լինելու բոլորին: Կատարվելու օրը և ժամը Խոսքում չի բացված <i>(Հայտն. 1:7, Գործք. 1:9-11):</i></li>
                        <li><u>Հիվանդների բժշկություն</u> - Հիսուս Քրիստոսի ծառայության ընթացքում եղել են բազմաթիվ բժշկություններ: Հիսուսն Իր աշակերտներին հրամայեց նույնն անել: Սա նշաններից մեկն է, որն ուղեկցում է հավատացյալներին <i>(Մթ. 8:16-17, Գործք. 8:6-7, Մկ. 16:17-18):</i></li>
                        <li><u>Սուրբ Հոգու մկրտությունը և օտար լեզուներով խոսելու պարգևը</u> - Տրված է Պենտեկոստեի օրը: Սա խոստմունք էր Հորից, որը կատարվեց Հիսուս Քրիստոսի հարությունից հետո՝  եկեղեցու ամրության և Ավետարանը ամբողջ աշխարհում քարոզելու համար: Նրա նպատակը հավատացյալների ամրապնդումը և անհավատներին նշաններ ցույց տալն է:  <i>(Գործք. 2:17, 2:38-39, Մկ. 16:17)</i></li>
                    </ul>
                </div>
            </div>            
        </div>

        <div id="churchInfo">
            <p class="textPoint">
                <b>«Նոր Սերունդ»</b> եկեղեցու գործունեության նպատակն է՝ քրիստոնեական արժեքների տարածումը հասարակության մեջ,
                մարդկանց հոգևոր լուսավորությունն ու աջակցությունը` մեղավոր ապրելակերպից հրաժարվելու,
                խաղամոլությունից, թմրամոլությունից և այլ կախվածություններից ազատվելու, ընտանիքները վերականգնելու հարցերում:
            </p>
                <!-- <p class="textPoint">
                    Աստված եկեղեցու շատ անդամների ճակատագրերում կատարել է վերածննդի հրաշք և նորոգել, իմաստավորել
                    նրանց կյանքը:
                </p>

                <p class="textPoint">
                    Նախկին օրինախախտները դարձել են աստվածային շնորհքով և օրենքով ապրող քաղաքացիներ: Միավորվել
                    են քայքայված, ամուսնալուծված ընտանիքներ: Կախվածությունների ծանր բեռի տակ ճգնող երիտասարդ տղամարդիկ
                    և կանայք ազատվել են մոլուցքներից ու վերականգնել իրենց կյանքն ու ընտանիքը:
                </p>

                <p class="textPoint">
                    Եկեղեցին նպաստում է նաև առողջ ընտանիքների ձևավորմանը, առողջ սերունդի դաստիարակությանը ու
                    քրիստոնեական մշակույթի զարգացմանը:
                </p>

                <p class="textPoint">
                    Մենք հավատում ենք, որ Աստված օգնում է հասարակության հոգևոր վերկանգնման դժվարին խնդրի լուծման
                    հարցերում:
                </p> -->
        </div>

        <div id="servingGodText">
            <div id="text">
                <h1>
                    Ծառայել Աստծուն նշանակում է ծառայել մարդկանց,
                    ծառայել մարդկանց նշանակում է ծառայել հասարակությանը,
                    ծառայել հասարակությանը նշանակում է ծառայել պետությանը։
                </h1>
            </div>
            
        </div>
    </main>

    <footer>
        <div id="footerChurchName">
            <p>
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
            </p>
        </div>
        
        <div id="helpInfo">
            <div id="networkLinks">
                <a href="https://www.facebook.com/newgenerationchurch.am" target="_blank"><div><img src="/public/images/facebook.png"><p>Facebook</p></div></a>
                <a href="https://www.instagram.com/newgeneration_arm/" target="_blank"><div><img src="/public/images/instagram.png"><p>Instagram</p></div></a>
                <a href="https://t.me/newgenerationarmenia" target="_blank"><div><img src="/public/images/telegram.png"><p>Telegram</p></div></a>
            </div>
            <div id="aditionalInfo">
                <div><p>Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p></div>
                <div><p>+374 10 571 633</p></div>
            </div>
        </div>
        
        <div id="releaseDate">
            <p>©2023 Երևանի Նոր Սերունդ եկեղեցի.</p>
        </div>
    </footer>

    <script src="/public/js/header.js"></script>
</body>
</html>