<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>եկեղեցի</title>
</head>
<link rel="stylesheet" href="/public/css/church.css" type="text/css">
<body>
    <header>
        <div id="mobileNavToggle"></div>
        <div class="navBar" id="logo"></div>
        <div class="navBar"><p><a href="/church">Եկեղեցի</a></p></div>
        <div class="navBar"><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div class="navBar"><p><a href="/videos">Վիդեոներ</a></p></div>
        <div class="navBar"><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div class="navBar"><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
        
    </header>
    
    <div class="modal-content" id="myModal">
        <div><span class="close" id="closeMobileNavBar">&times;</span></div>
        <div><p><a href="/">Սկիզբ</a></p></div>
        <div><p><a href="/church">Եկեղեցի</a></p></div>
        <div><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div><p><a href="/videos">Վիդեոներ</a></p></div>
        <div><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
    </div>
    

    <main>
        <div id="welcome">
            <h1>ԵԿԵՂԵՑԻ</h1>
        </div>

        <div id="churchInfo">
            <p class="textPoint">
                <b>«Նոր Սերունդ»</b> եկեղեցու գործունեության նպատակն է՝ քրիստոնեական արժեքների տարածումը հասարակության մեջ,
                մարդկանց հոգևոր լուսավորությունն ու աջակցությունը` մեղավոր ապրելակերպից հրաժարվելու,
                խաղամոլությունից, թմրամոլությունից և այլ կախվածություններից ազատվելու, ընտանիքները վերականգնելու հարցերում:
            </p>
            <p class="textPoint">
                Աստված եկեղեցու շատ անդամների ճակատագրերում կատարել է վերածննդի հրաշք և նորոգել, իմաստավորել
                նրանց կյանքը:
            </p>

            <p class="textPoint">
                Նախկին օրինախախտները դարձել են աստվածային շնորհքով և օրենքով ապրող քաղաքացիներ: Միավորվել
                են քայքայված, ամուսնալուծված ընտանիքներ: Կախվածությունների ծանր բեռի տակ ճգնող երիտասարդ տղամարդիկ
                և կանայք ազատվել են մոլուցքներից ու վերականգնել իրենց կյանքն ու ընտանիքը:
            </p>

            <p class="textPoint">
                Եկեղեցին նպաստում է նաև առողջ ընտանիքների ձևավորմանը, առողջ սերունդի դաստիարակությանը ու
                քրիստոնեական մշակույթի զարգացմանը:
            </p>

            <p class="textPoint">
                Մենք հավատում ենք, որ Աստված օգնում է հասարակության հոգևոր վերկանգնման դժվարին խնդրի լուծման
                հարցերում:
            </p>
        </div>

        <div id="basicFaith">
            <h3>ՀԱՎԱՏՔԻ ՀԻՄՔԵՐԸ</h3>
            <div class="bibleTextWrapper">
                <div class="bibleTextSection">
                    <p>
                        <b>1. Աստվածաշունչ</b> - Մենք հավատում ենք, որ միայն և միայն  Աստվածաշունչն է ճշմարիտ Աստծո Խոսքը (2 Տիմ. 3:16, 2 Պետ. 1:20-21):
                    </p>
                    <p>   
                        <b>2. Եռամեկություն</b> - Մենք հավատում ենք եռամեկության ուսմունքին՝ Հայր, Որդի« Հիսուս և Սուրբ Հոգի (Ծննդ. 1:26, Մթ. 28:19, 3:16-17):
                    </p>    
                    <p>
                        <b>3. Հիսուս Քրիստոս</b> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը Աստծո Որդին է: Երկրի վրա Նա ներկայացավ և՛ որպես ճշմարիտ Աստված, և որպես մարդ: Նա միակն էր, ով ապրեց առանց մեղքի (Հովհ.1:1, 1:14, 20:28 և 1 Տիմ. 3:16):
                    </p>
                    <p>
                        <b>4. Ծնունդը կույսից</b> - Մենք հավատում ենք, որ կույս Մարիամը ընդունեց Աստծուց Հիսուս Քրիստոսին՝ Սուրբ Հոգու միջոցով: Նրան անվանում են Աստծո Որդի, որովհետև Նա ծնվեց  Աստվածային Սուրբ Հոգուց (Մթ. 1:18, 1:20, Ղուկ. 1:35):
                    </p> 
                    <p>
                        <b>5. Մեղքի մերժումը</b> - Յուրաքանչյուրի ձգտումն է դեպի Հիսուս Քրիստոսին, Նրա անունով մեղքերի թողության ընդունումը (Գործք. 2:38, 3:19):
                    </p>
                    <p>
                        <b>6. Սրբացումը</b> - Կատարյալ նվիրման պրոցեսն է Աստծուն, որպեսզի նմանվենք Քրիստոսին (1 Թես. 4:3, 5:23):
                    </p> 
                    <p>
                        <b>7. Սրբացումը</b> - Հիսուս Քրիստոսին, Նրա մահվանն ու հարությանը հավատալով է: Փրկությունը Աստծո պարգև է, այն մեր բարի գործերով չէ և ոչ էլ մարդկային ձեռքբերումներով (Գաղ. 2:16, Տիտ. 3:5):
                    </p>
                    <p>
                        <b>8. Հիսուսի արյունը</b> - Որ թափվեց Գողգոթայի խաչի վրա, մաքրում է մեզ բոլոր մեղքերից: Հիսուսը վերցրեց աշխարհի բոլոր մեղքերը (1 Հովհ. 1:7, Հայտ. 1:5, 5:9):
                    </p>    
                    <p>
                        <b>9. Քրիստոսը բնակվում</b> է բոլոր հավատացյալների մեջ: Քրիստոնյան այն մարդն է, որը խնդրում է Տեր Հիսուս Քրիստոսին մտնել և բնակվել իր սրտում: Քրիստոնյայի հույսը արդարացված է այն ամենով, ինչ արեց Քրիստոսն իր համար. Նա մահացավ, թաղվեց և հարություն առավ մեռելներից (Հովհ. 14:17, 14:2, 1:12, 15:14):
                    </p>
                </div>

                <div class="bibleTextSection">
                    <p>
                        <b>10. Հարություն</b> - Մենք հավատում ենք, որ, խաչի վրա մահանալուց երեք օր հետո, Հիսուս Քրիստոս հարություն առավ մեռելներից: Կգա ժամանակ, երբ բոլոր Հիսուս Քրիստոսին հավատացողները նույնպես հարություն կառնեն, որպեսզի ստանան իրենց պարգևը՝ հավիտենական կյանք երկնքում ` Աստծո մոտ (Ղուկ. 24:36, 24:39, 1 Կորնթ. 15:42, 15:44):
                    </p>
                    <p>
                        <b>11. Երկինքը</b> բոլոր հավատացյալների հավիտենական բնակության վայրն է (2 Կորնթ. 5:1, 1 Պետրոս 1:4):
                    </p>
                    <p>
                        <b>12. Դժոխք</b> - Մենք հավատում ենք, որ բոլոր մեղավորները  իրենց երկրային կյանքից հետո պետք է դատվեն Աստծո կողմից և ուղարկվեն դժոխք (Եբր. 9:27, Մթ. 25:41):
                    </p>
                    <p>
                        <b>13. Ջրի մկրտություն</b> - Աստծո Խոսքը ասում է` նրանք ովքեր հավատում են Տեր Հիսուս Քրիստոսին, պետք է մկրտվեն ջրով՝ Հիսուս Քրիստոսի անունով (Մթ. 28:19, Հովհ. 1:26, Գործք. 2:38):
                    </p>
                    <p>
                        <b>14. Խորհրդավոր Ընթրիքը</b> - հիշողության հատուկ ժամանակ է Աստծո ներկայության մեջ:Հացը և  գինին խորհրդանշում են Հիսուս Քրիստոսի մարմինը և արյունը (1 Կորնթ. 11:23-25, Մկ. 14:22-25):
                    </p>
                    <p>
                        <b>15. Երկրորդ գալուստը</b> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը  գալու է երկիր երկրորդ անգամ՝ Իր Արքայությունը հաստատելու համար: Նրա գալուստը տեսանելի է լինելու բոլորին: Կատարվելու օրը և ժամը Խոսքում չի բացված (Հայտն. 1:7, Գործք. 1:9-11):
                    </p>
                    <p>
                        <b>16. Հիվանդների բժշկություն</b> - Հիսուս Քրիստոսի ծառայության ընթացքում եղել են բազմաթիվ բժշկություններ: Հիսուսն Իր աշակերտներին հրամայեց նույնն անել: Սա նշաններից մեկն է, որն ուղեկցում է հավատացյալներին (Մթ. 8:16-17, Գործք. 8:6-7, Մկ. 16:17-18):
                    </p>
                    <p>
                        <b>17. Սուրբ Հոգու մկրտությունը և օտար լեզուներով խոսելու պարգևը</b> - Տրված է Պենտեկոստեի օրը: Սա խոստմունք էր Հորից, որը կատարվեց Հիսուս Քրիստոսի հարությունից հետո՝  եկեղեցու ամրության և Ավետարանը ամբողջ աշխարհում քարոզելու համար: Նրա նպատակը հավատացյալների ամրապնդումը և անհավատներին նշաններ ցույց տալն է:  (Գործք. 2:17, 2:38-39, Մկ. 16:17)
                    </p>
                </div>
            </div>            
        </div>

        <div id="ourTeam">
            <h2 id="title">ՄԵՆՔ</h2>
            <div id="personWrapper">
                <!-- Pastor Section -->
                <div id="Pastor">
                    <div class="personImage" style="background-image: url('/public/images/pastor.webp');"></div>
                    <div class="info">
                        <h2>Տիգրան Թադևոսյան</h2>
                        <p><b>Հովիվ</b></p>
                        <p>info@mysite.com</p>
                    </div>
                </div>
                
                <!-- Other Team Members Section -->
                <div id="others">
                    <!-- Family Pastor -->
                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/familyPastor.webp');"></div>
                        <div class="info">
                            <h2>Eric Stone</h2>
                            <p>Family Pastor</p>    
                            <p>info@mysite.com</p>
                        </div>
                    </div>
        
                    <!-- Youth Director -->
                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/youthDirector.webp');"></div>
                        <div class="info">
                            <h2>John Doe</h2>
                            <p>Youth Director</p>    
                            <p>info@mysite.com</p>
                        </div>
                    </div>

                    <div class="teamMember">
                        <div class="personImage" style="background-image: url('/public/images/worshipPastor.webp');"></div>
                        <div class="info">
                            <h2>Edna Doyle</h2>
                            <p>Worship Arts Pastor</p>
                            <p>info@mysite.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="servingGodText">
            <div id="text">
                <h1>
                    Ծառայել Աստծուն նշանակում է ծառայել մարդկանց,
                    ծառայել մարդկանց նշանակում է ծառայել հասարակությանը,
                    ծառայել հասարակությանը նշանակում է ծառայել պետությանը։
                </h1>
            </div>
            
        </div>
    </main>

    <footer>
        <div id="footerChurchName">
            <h3>
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
            </h3>
        </div>
        
        <div id="helpInfo">
            <p>+374 10 571 633</p>
            <p>info@newgeneration.am</p>
            <p>Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p>
        </div>
        
        <div id="releaseDate">
            <p>©2023 Երևանի Նոր Սերունդ եկեղեցի.</p>
        </div>
    </footer>

    <script src="/public/js/header.js"></script>
</body>
</html>