<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>home</title>
</head>
<link rel="stylesheet" href="/public/css/home.css" type="text/css">
<body>
    <header> 
        <div class="navBar" id="logo"></div>
        <div class="navBar"><b><a href="/church">Եկեղեցի</a></b></div>
        <div class="navBar"><b><a href="/our_services">Ծառայություններ</a></b></div>
        <div class="navBar"><b><a href="/videos">Տեսանյութեր</a></b></div>
        <div class="navBar"><b><a href="/donation">Նվիրաբերել</a></b></div>
        <div class="navBar"><b><a href="/visitUs">Այցելեք մեզ</a></b></div>
        <div id="mobileNavToggle">
            <input id="toggle" type="checkbox">
            <label id="toggleLabel" for="toggle"></label>
        </div>   
    </header>

    <div id="modalWrapper">
        <div class="modal-content" id="myModal">
            <div><p><a href="/"><b>Սկիզբ</b></a></p></div>
            <div><p><a href="/church"><b>Եկեղեցի</b></a></p></div>
            <div><p><a href="/our_services"><b>Ծառայություններ</b></a></p></div>
            <div><p><a href="/videos"><b>Տեսանյութեր</b></a></p></div>
            <div><p><a href="/donation"><b>Նվիրաբերել</b></a></p></div>
            <div><p><a href="/visitUs"><b>Այցելեք մեզ</b></a></p></div>
        </div>
    </div>    

    <main>

        <div id="welcome">
            <div id="welcomeText">
                <h3>ԲԱՐԻ ԳԱԼՈՒՍՏ</h3>
                <h1>ԵՐԵՎԱՆԻ
                    ՆՈՐ ՍԵՐՈՒՆԴ
                    ԵԿԵՂԵՑԻ
                </h1>
            </div>
        </div>

        <div id="bigFamily">
            <div id="blockTitle">
                <h2>
                    ՄԵԾ
                    ԸՆՏԱՆԻՔ
                </h2>
            </div>
            <div id="blockDescription">
                <p>Մեր նպատակն է առաջնորդել մարդկանց Հիսուս Քրիստոսի հետ անձնական փոխհարաբերության։</p>
                <p><b><i>Եվ այն ազատությունով, որ Քրիստոսը մեզ ազատեց, հաստատ մնացեք եւ դարձյալ ծառայության լծի տակ մի մտեք։ (Գաղատացիս 5։1)</i></b></p>
                <div id="toChurchPage">
                    <a href="/church" ><b>Ավելին</b></a>
                </div>
            </div>
        </div>
        
        <div id="ourVideos">
            <div id="controlWrapper">
                <div id="wrapperInfo">
                    <h1>Մեր տեսանյութերը</h1>
                    <h2>Դիտեք մեր ծառայություններն օնլայն</h2>
                </div>
                <div id="toVideosPage">
                    <button id="videosBtn"><b>Դիտել</b></button>
                </div>
            </div>
        </div>

        <div id="donation">
            <div id="gifDiv"></div>
            <div id="bibleTextForDonation">
                <h1> “Ամեն մեկը թող ըստ իր սրտի հոժարության տա և ոչ թե տրտմությամբ կամ հարկադրաբար, որովհետև Աստված սիրում է հոժարությամբ տվողին։” </h1>
                <h2>Բ Կորնթացիներին 9.7</h2>
            </div>
            <div id="toDontationPage">
                <button id="donationsBtn"><b>Նվիրաբերել</b></button>
            </div>
        </div>
    </main>

    <footer>
        <div id="footerChurchName">
            <p>
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
            </p>
        </div>
        
        <div id="helpInfo">
            <div id="networkLinks">
                <a href="https://www.facebook.com/newgenerationchurch.am" target="_blank"><div><img src="/public/images/facebook.png"><p>Facebook</p></div></a>
                <a href="https://www.instagram.com/newgeneration_arm/" target="_blank"><div><img src="/public/images/instagram.png"><p>Instagram</p></div></a>
                <a href="https://t.me/newgenerationarmenia" target="_blank"><div><img src="/public/images/telegram.png"><p>Telegram</p></div></a>
            </div>
            <div id="aditionalInfo">
                <div><p>Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p></div>
                <div><p>+374 10 571 633</p></div>
            </div>
        </div>
        
        <div id="releaseDate">
            <p>©2023 Երևանի Նոր Սերունդ եկեղեցի.</p>
        </div>
    </footer>
    <script src="/public/js/header.js"></script>
    <script src="/public/js/home.js"></script>
</body>
</html>