<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>home</title>
</head>
<link rel="stylesheet" href="/public/css/home.css" type="text/css">
<body>
    <header>
        <div id="mobileNavToggle"></div>
        <div class="navBar" id="logo"></div>
        <div class="navBar"><p><a href="/church">Եկեղեցի</a></p></div>
        <div class="navBar"><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div class="navBar"><p><a href="/videos">Վիդեոներ</a></p></div>
        <div class="navBar"><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div class="navBar"><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
        
    </header>

    <div class="modal-content" id="myModal">
        <div><span class="close" id="closeMobileNavBar">&times;</span></div>
        <div><p><a href="/">Սկիզբ</a></p></div>
        <div><p><a href="/church">Եկեղեցի</a></p></div>
        <div><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div><p><a href="/videos">Վիդեոներ</a></p></div>
        <div><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
    </div>

    <main>

        <div id="welcome">
            <div id="welcomeText">
                <h3>ԲԱՐԻ ԳԱԼՈՒՍՏ</h3>
                <h1>ԵՐԵՎԱՆԻ
                    ՆՈՐ ՍԵՐՈՒՆԴ
                    ԵԿԵՂԵՑԻ
                </h1>
            </div>
        </div>

        <div id="bigFamily">
            <div id="blockTitle">
                <h2>
                    ՄԵԾ
                    ԸՆՏԱՆԻՔ
                </h2>
            </div>
            <div id="blockDescription">
                <p>Մեր նպատակն է առաջնորդել մարդկանց Հիսուս Քրիստոսի հետ անձնական փոխհարաբերության։</p>
                <p><b><i>Եվ այն ազատությունով, որ Քրիստոսը մեզ ազատեց, հաստատ մնացեք եւ դարձյալ ծառայության լծի տակ մի մտեք։ (Գաղատացիս 5։1)</i></b></p>
                <div id="toChurchPage">
                    <a href="/church" >Ավելին</a>
                </div>
            </div>
        </div>
        
        <div id="ourVideos">
            <div id="controlWrapper">
                <div id="wrapperInfo">
                    <h1>Մեր վիդեոները</h1>
                    <h2>Դիտեք մեր ծառայությունները օնլայն</h2>
                </div>
                <div id="toVideosPage">
                    <button  id="videosBtn">ԴԻՏԵԼ</button>
                </div>
            </div>
        </div>

        <div id="donation">
            <div id="gifDiv"></div>
            <div id="bibleTextForDonation">
                <h1> “Ամեն մեկը թող ըստ իր սրտի հոժարության տա և ոչ թե տրտմությամբ կամ հարկադրաբար, որովհետև Աստված սիրում է հոժարությամբ տվողին։” </h1>
                <p>Բ Կորնթացիներին 9.7</p>
            </div>
            <div id="toDontationPage">
                <button id="donationsBtn">ՆՎԻՐԱԲԵՐԵԼ</button>
            </div>
        </div>
    </main>

    <footer>
        <div id="footerChurchName">
            <h3>
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
            </h3>
        </div>
        
        <div id="helpInfo">
            <p>+374 10 571 633</p>
            <p>info@newgeneration.am</p>
            <p>Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p>
        </div>
        
        <div id="releaseDate">
            <p>©2023 Երևանի Նոր Սերունդ եկեղեցի.</p>
        </div>
        
    </footer>
    <script src="/public/js/header.js"></script>
    <script src="/public/js/home.js"></script>
</body>
</html>