<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>վիդեոներ</title>
    <link rel="stylesheet" href="/public/css/videos.css" type="text/css">

</head>
<body>
    <header>
        <div id="mobileNavToggle"></div>
        <div class="navBar" id="logo"></div>
        <div class="navBar"><p><a href="/church">Եկեղեցի</a></p></div>
        <div class="navBar"><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div class="navBar"><p><a href="/videos">Վիդեոներ</a></p></div>
        <div class="navBar"><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div class="navBar"><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
        
    </header>
    
    <div class="modal-content" id="myModal">
        <div><span class="close" id="closeMobileNavBar">&times;</span></div>
        <div><p><a href="/">Սկիզբ</a></p></div>
        <div><p><a href="/church">Եկեղեցի</a></p></div>
        <div><p><a href="/our_services">Մեր ծառայությունները</a></p></div>
        <div><p><a href="/videos">Վիդեոներ</a></p></div>
        <div><p><a href="/donation">Նվիրաբերել</a></p></div>
        <div><p><a href="/visitUs">Այցելեք մեզ</a></p></div>
    </div>

    <main>

        <div id="backgroundBlock">
            <h1>ՆՈՐ ՍԵՐՈՒՆԴԸ YOUTUBE-ՈՒՄ</h1>
        </div>
        
        <div id="videos"></div>
        
    </main>

    <footer>
        <div id="footerChurchName">
            <h3>
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
            </h3>
        </div>
        
        <div id="helpInfo">
            <p>+374 10 571 633</p>
            <p>info@newgeneration.am</p>
            <p>Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p>
        </div>
        
        <div id="releaseDate">
            <p>©2023 Երևանի Նոր Սերունդ եկեղեցի.</p>
        </div>
    </footer>
    
</body>
<script src="/public/js/header.js"></script>
<script src="/public/js/videos.js"></script>
</html>