* {
    box-sizing: border-box;
}


body, html {
    margin:0%;
    width: 100%;
    height: 100%;
    font-family: 'bainsley';
    font-size: calc(15px + 0.390625vw);
}



:root {
    --animation-curve: cubic-bezier(1,0,0,1)
}