@import url("/public/css/components/fonts.css");
@import url("./components/header.css");
@import url("./components/footer.css");


body, html {
    margin:0%;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

:root {
    --animation-curve: cubic-bezier(1,0,0,1)
}


main {
    line-height: 1.5;
}

#welcome {
    position: relative;
    min-height: 25rem;
    max-height: 30rem;
    width: 100%;
    display: flex;
    background-color: rgb(10, 9, 9);
    font-size: 22px;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

#welcome::before {
    width: 100%;
    height: 25rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/images/churchBackground.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    opacity: 0.4;
    z-index: -1;
    overflow: hidden;
}



#churchInfo {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 15px;
    color: #3f4359;
    line-height: 1.5;
    width: 80%;
}

#churchInfo .textPoint {
    margin-top: 2%;
}

#basicFaith {
    margin-top: 7%;
    padding: 2%;
    color: white;
    background-color: #5B4565;
    display: flex;
    flex-direction: column;
}

#basicFaith h3 {
    height: 5%;
    width: 20%;
    padding: 0 2%; 
}

.bibleTextWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#basicFaith .bibleTextSection {
    margin-top: 2%;
    text-align: left;
    width: 50%; 
    box-sizing: border-box;
    padding: 0 2%; 
}


#ourTeam {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3f4359;
}

#ourTeam #title {
    padding: 0 4%; 
}

#ourTeam #personWrapper {
    max-width: 100%;
    height: 100%
}

#Pastor {
    justify-content: left;
    margin-left: 4%;
}

#ourTeam #others {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-top: 5%;
    margin-left: 4%;
}

#ourTeam .teamMember {
    width: 30%;
    height: auto;

}

#ourTeam .personImage {
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#ourTeam .info {
    line-height: 0.5; 
}


#servingGodText {
    margin-top: 3%;
    background-color: #EAEAEA;
    width: 100%;
    min-height: 15rem;
    color: #3f4359;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#servingGodText #text {
    margin: 2%;
    width: 80%;
    font-size: 23px;
}



@media screen and (min-width: 601px) and (max-width: 1024px) {
    #welcome  {
        min-height: 20rem;
        max-height: 25rem;
    }

    #churchInfo {
        font-size: 20px;
    }

    #basicFaith {
        font-size: 18px;
    }

    #title {
        font-size: 40px;
    }

    #Pastor .info, .teamMember .info {
        font-size: 20px;
    }

    #ourTeam #others {
        margin-left: 4%;
    }


    #ourTeam #personWrapper .personImage {
        height: 20vh;
    }

}




@media screen and (max-width:600px){
    #welcome {
        min-height: 15rem;
        max-height: 15rem;
        font-size: 22px;
    }

    #welcome::before {
        height: 15rem;
    }

    #basicFaith {
        margin-top: 7%;
        color: white;
        background-color: #5B4565;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    
    #basicFaith h3 {
        height: 5%;
        width: 90%;
        text-align: left;
        margin-left: 5%;
    }
    
    .bibleTextWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 1.5;
    }
    
    #basicFaith .bibleTextSection {
        margin-top: 2%;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; 
        text-align: left;
        box-sizing: border-box;
    }

    #ourTeam #personWrapper #others {
        width: 100%;
        flex-direction: column;
        margin-top:10%;
        margin-left: 0;
    }

    #ourTeam #title {
        padding: 0 8%; 
    }

    #Pastor {
        margin-left: 0%;
    }

    
    #ourTeam .teamMember {
        margin-top: 15%;
        width: 100%;
    }


    #ourTeam .personImage {
        height: 30rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ourTeam #personWrapper .info {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #ourTeam #personWrapper .info h2 {
        margin-left: 0%;
    }

    #servingGodText #text{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 12px;
    }

}