

body, html {
    margin:0%;
    width: 100%;
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
}



header {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color:  #66697a;
}

header .navBar {
    color: white;
    width: 17%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

header a:hover {
    opacity: 0.7;
}


#mobileNavToggle {
    display: none;
    background: url("../images/burgerIcon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#logo {
    background: url("/public/images/logo.gif");
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    transition: 0.4s;
}


#logo:hover {
    opacity: 0.6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out; 
    transition: 0.5s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #EAEAEA;
    border: none;
    border-radius: 20px;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    animation: slideIn 0.5s ease-in-out; 
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




.modal-content a {
    color: #66697a;
    font-size: 20px;
    text-decoration: none;
}

.close {
    color: #66697a;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.5s;
}

.close:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #eaeaee;
}

main #visitUsBackgroud {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background: url('/public/images/visitUsBackground.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px;
}

main #mainInfo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100vh;
}

main #mainInfo .infoBar {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main #serviceSchedule {
    background-color: #6a4e77;
    color:white;
}

main #serviceSchedule #scheduleInfo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    margin-bottom: 5%;
}

main #serviceSchedule #scheduleInfo h2 {
    margin-top: 15%;
    margin-bottom: 0%;
}

main #churchContactInfo {
    background-color: #eaeaee;
    color:#6a4e77;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

main #churchContactInfo #contactUs, #churchAddress {
    margin: 5%;
}

footer {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
    align-items: center;
    background-color: #3f4359;
 }
 
 
footer #footerChurchName, #helpInfo, #releaseDate {
     width: 20%;
     height: auto;
     color: white;
     opacity: 0.7;
 }
 

@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        min-height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 25px;
        background-color:  #66697a;
    }

    header .navBar {
        display: none;
    }

    #logo {
        position: absolute;
        top: 1%;
        left: 4%;
        width: 80px;
        height: 80px;
    }

    header #mobileNavToggle {
        display: block;
        color: white;
        justify-content: center;
        padding: 2%;
        margin-right: 5%;
        color:white
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
        animation: fadeIn 0.5s ease-in-out; 
        transition: 0.5s;
    }
    
    .modal-content {
        background-color: #EAEAEA;
        border: none;
        border-radius: 20px;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        min-height: 20vh;
        animation: slideIn 0.5s ease-in-out;
        text-align: center;
        font-size: 30px; 
        align-items: center;
        border-radius: 10px;
    }

    main #visitUsBackgroud {
        background-position: center;
        height: 20vh;
    }

    main #mainInfo .infoBar  {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    footer {
        font-size: 18px;
    }
 }



@media screen and (max-width:600px){
    header {
        min-height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 16px;
        background-color:  #66697a;
    }

    header .navBar {
        display: none;
    }

    header #mobileNavToggle {
        display: block;
        color: white;
        justify-content: center;
        margin-right: 5%;
        color:white
    }

    #logo {
        position: absolute;
        top: 1%;
        left: 4%;
    }


    main #visitUsBackgroud {
        height: 30vh;
        background-size: cover;
        font-size: 18px;
        background-position: center;
    }

    main #mainInfo {
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    main #mainInfo .infoBar {
        width: 100%;
    }

    main #churchContactInfo {
        align-items: flex-start;
    }

    footer {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        min-height: 20vh;
    }

    footer #footerChurchName, #helpInfo, #releaseDate {
        width: 80%;
    }
}