header {
    box-sizing: border-box;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    background-color:  #66697a;
}


header #navOptions {
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#navOptions .navBar {
    box-sizing: border-box;
    color: white;
    width: 20%;
    margin: 2%;
    padding: 0%;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navOptions .navBar a {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: larger;
    white-space: nowrap;
    width: 100%;
}

#navOptions .navBar a:hover {
    opacity: 0.7;
}


#toggleLabel {
    display: none;
    z-index: 7;
    width: 35px;
    height: 5px;
    position: absolute;
    background-color: white;
    cursor: pointer;

    &::before,
    &::after {
        z-index: 7;
        content: "";
        width: 100%;
        height: 5px;
        background-color: white;
        position: absolute;
        transition: all 0.6s var(--animation-curve)
    };

    &::before {
        top: -250%;
        left: 0%;
        transform-origin: left top;
        transform: rotatez(0deg)
    };

    &::after {
        bottom: -250%;
        left: 0%;
        transform-origin: left bottom;
        transform: rotatez(0deg)
    }
}



#mobileNavToggle input:checked ~ label::before{
    transform: rotatez(45deg)
}

#mobileNavToggle input:checked ~ label::after{
    transform: rotatez(-45deg)
}

#mobileNavToggle input:checked ~ label {
    background-color: #66697a;
}

#toggleLabel {
    transition: all 0.5s var(--animation-curve);
}

#toggle {
    display: none;
}

#logo {
    position: absolute;
    left: 20px;
    background: url("/public/images/white_NG_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}


#logo:hover {
    opacity: 0.6;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#modalWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
    background-color:none;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    padding-bottom: 10%;
    display: none;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #66697a;
    animation: slideIn 0.5s ease-in-out; 
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'bainsley';
}



@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}



.modal-content.slideOut {
    animation: slideOut 0.5s ease-in-out;
}

.modal-content div {
    margin-top: 5%
}

.modal-content div a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}





@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        min-height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 25px;
        background-color:  #66697a;
        font-family: 'kotayk';
    }

    header #navOptions {
        display: none;
    }


    #logo {
        width: 100px;
        height: 100px;
    }

    header #mobileNavToggle {
        display: flex;
        color: white;
        justify-content: center;
        padding: 2%;
        margin-right: 5%;
        color:white
    }


    #toggleLabel {
        margin-right: 5%;
        display: flex;
    }
    
    .modal-content div a {
        font-size: 35px;
    }
}




@media screen and (max-width: 600px){
    header {
        min-height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 16px;
        background-color:  #66697a;
        font-family: 'kotayk';
    }

    header #navOptions {
        display: none;
    }


    header #mobileNavToggle {
        display: flex;
        color: white;
        justify-content: center;
        padding: 2%;
        margin-right: 15%;
        color:white
    }

    #logo {
        width: 90px;
        height: 90px;
    }


    #toggleLabel {
        display: flex;
    }
}