


<footer>
    <link rel='preload' href="/public/images/facebook.webp" as="image">
    <link rel="preload" href="/public/images/instagram.webp" as="image">
    <link rel="preload" href="/public/images/telegram.webp" as="image">
    <link rel="stylesheet" href="/public/common/footer/footer.css" type="text/css" media="print" onload="this.media='all';">
    
    <div id="contacts">
        <a class="contact" href="https://www.facebook.com/newgenerationchurch.am" target="_blank">
            <div><img src="/public/images/facebook.webp" loading="lazy"><p>Facebook</p></div>
        </a>
        <a class="contact"  href="https://www.instagram.com/newgeneration_arm/" target="_blank">
            <div><img src="/public/images/instagram.webp" loading="lazy"><p>Instagram</p></div>
        </a>
        <a class="contact" href="https://t.me/newgenerationarmenia" target="_blank">
            <div><img src="/public/images/telegram.webp" loading="lazy"><p>Telegram</p></div>
        </a>
    </div>  

    <p class="contact">Հեռախոսահամար: +374 10 571 633</p>

    <div id="additionalInfo">
        <p id="churchTitle">
            ԵՐԵՎԱՆԻ
            ՆՈՐ ՍԵՐՈՒՆԴ
            ԵԿԵՂԵՑԻ
        </p>
        <p id="address">Ք. Երևան, Տիգրան Մեծի պողոտա 80/1</p>
        <p id="releaseDate">©2025 Երևանի Նոր Սերունդ եկեղեցի.</p>
    </div>

</footer>