

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/public/common/preloader/preloader.css" as="style" type="text/css">


</head>
<body>
    {{> preloader}}

    <link rel="stylesheet" href="/public/common/common.css" as="style" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" as="style" type="text/css">
    {{> header}}

    <link rel="stylesheet" href="/public/pages/church/church.css" as="style" type="text/css">
    <main>
        <div id="welcome">
            <h1>ԵԿԵՂԵՑԻ</h1>
        </div>


        {{>pastor}}
        {{>faithFundaments}} 
        {{>churchPurpose}}
        <div id="servingGod">
            <h1>
                Ծառայել Աստծուն նշանակում է ծառայել մարդկանց,
                ծառայել մարդկանց նշանակում է ծառայել հասարակությանը,
                ծառայել հասարակությանը նշանակում է ծառայել պետությանը։
            </h1>
        </div>
    </main>

    {{> footer}}
</body>

    <script defer src="/public/pages/church/church.js"></script>
</html>

