

<link rel="stylesheet" href="/public/pages/church/components/churchPurpose/churchPurpose.css">
<div id="churchPurpose">
    <p>
        <b>«Նոր Սերունդ»</b> եկեղեցու գործունեության նպատակն է՝ քրիստոնեական արժեքների տարածումը հասարակության մեջ,
        մարդկանց հոգևոր լուսավորությունն ու աջակցությունը` մեղավոր ապրելակերպից հրաժարվելու,
        խաղամոլությունից, թմրամոլությունից և այլ կախվածություններից ազատվելու, ընտանիքները վերականգնելու հարցերում:
    </p>
</div>