<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> 

    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">
    <link rel="stylesheet" href="/public/common/exception/exception.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="content">
                <h1 class="error-code">{{errorCode}}</h1>
                <p class="message">{{errorMessage}}</p>
                <a href="/" class="btn">Սկիզբ</a>
            </div>
        </div>
    </main>
</body>
</html>
