

<link rel="stylesheet" href="/public/pages/church/components/pastor/pastor.css" type="text/css">
<div id="Pastor">
    <div class="personImage"></div>
    <div class="info">
        <h2>Տիգրան Թադևոսյան</h2>
        <p><b>Հովիվ</b></p>
        <p>info@mysite.com</p>
    </div>
</div>