<script src="/public/common/preloader/preloader.js"></script>
<div id="preloader">
    <div class="cross"></div>
    <div class="loader">
        <p class="verse">“Господь – свет мой и спасение мое: кого мне бояться?”</p>
        <span class="verse-reference">Псалом 26:1</span>
    </div>
</div>
