
<link rel="stylesheet" href="/public/pages/home/components/aboutVideos/aboutVideos.css" as="text/css">
<div id="ourVideos">
    <div id="controlWrapper">
        <div id="wrapperInfo">
            <h1>Մեր տեսանյութերը</h1>
            <h2>Դիտեք մեր ծառայություններն օնլայն</h2>
        </div>
        <div id="toVideosPage">
            <button id="videosBtn"><b>Դիտել</b></button>
        </div>
    </div>
</div>