

main #donation {
    width: 100%;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    background-color: #eaeaea;
    color: #66697a;
}

main #donation #gifDiv {
    width: 100%;
    height: 5rem; 
    margin-top: 3%;
    background: url("/public/images/handWithHearth.gif") center/contain; 
    background-repeat: no-repeat;
}

main #donation #bibleTextForDonation {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

main #toDontationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    width: 60%;
    margin-bottom: 5%;
}

main #toDontationPage button {
    width: 60%;
    height: 100%;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #3f4359;
    margin-bottom: 5%;
    border: 0px solid #3f4359;
    transition: 0.4s;
    font-size: 30px;
    border-radius: 15px;
    font-family: 'bainsley';
}

main #donation #toDontationPage button:hover:active {
    background-color: #FF6A48;
}


@media (hover:hover) {
    main #donation #toDontationPage button:hover {
        background-color: #FF6A48;
    }
    
}


@media(hover:none) {
    main #donation #toDontationPage button:active {
        background-color: #FF6A48;
    }
}
