

<link rel="stylesheet" href="/public/pages/home/components/aboutDonation/aboutDonation.css" as="text/css">
<div id="donation">
    <div id="gifDiv"></div>
    <div id="bibleTextForDonation">
        <h1> “Ամեն մեկը թող ըստ իր սրտի հոժարության տա և ոչ թե տրտմությամբ կամ հարկադրաբար, որովհետև Աստված սիրում է հոժարությամբ տվողին։” </h1>
        <h2>Բ Կորնթացիներին 9.7</h2>
    </div>
    <div id="toDontationPage">
        <button id="donationsBtn"><b>Նվիրաբերել</b></button>
    </div>
</div>