.home {
    max-width: 100vw;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #eaeaea;
}

.home__welcome {
    background: url("/public/images/home_header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    width: 100%;
    height: 20%;
    min-height: 25rem;
    max-height: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex-grow: 1;
    padding: 10%;
}

.home__welcome-text {
    font-size: ;
}

.home__welcome-title {
    font-size: 60px;
    margin-top: 20px;
}

.home__big-family {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 22rem;
    line-height: 1.5;
    background-color: #eaeaea;
    color: #3f4359;
}

.home__big-family-title {
    width: 20%;
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.home__big-family-description {
    width: 45%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.home__big-family-description .home__to-church-page {
    text-align: left;
    width: 100%;
}

.home__big-family-description .home__to-church-page .home__link {
    color: rgb(212, 103, 40);
    text-decoration: none;
    text-align: left;
    transition: color 0.5s;
}

@media (hover:hover) {
    .home__big-family-description .home__to-church-page .home__link:hover {
        color: rgb(253, 96, 5);
    }
}

@media(hover:none) {
    .home__big-family-description .home__to-church-page .home__link:active {
        color: rgb(253, 96, 5);
    }
}

.home__our-videos {
    width: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/public/images/backgroundForVideos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    line-height: 1.5;
}

.home__control-wrapper {
    width: 50%;
    height: 30rem;
    background-color: #FF6A48;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home__control-wrapper .home__wrapper-info h1 {
    font-size: 50px;
}

.home__control-wrapper .home__wrapper-info,
.home__control-wrapper .home__videos-btn {
    margin-left: 10%;
    margin-right: 10%;
}

.home__control-wrapper .home__to-videos-page {
    height: 80px;
    width: 100%;
}

.home__control-wrapper .home__to-videos-page .home__videos-btn {
    width: 40%;
    height: 100%;
    color: #3f4359;
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 15px;
    transition: 0.4s;
    font-size: 30px;
    font-family: 'bainsley';
}

@media (hover:hover) {
    .home__control-wrapper .home__to-videos-page .home__videos-btn:hover {
        background-color: #3f4359;
        color: white;
    }
}

@media(hover:none) {
    .home__control-wrapper .home__to-videos-page .home__videos-btn:active {
        background-color: #3f4359;
        color: white;
    }
}

.home__donation {
    width: 100%;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    background-color: #eaeaea;
    color: #66697a;
}

.home__donation .home__gif {
    width: 100%;
    height: 5rem;
    margin-top: 3%;
    background: url("/public/images/handWithHearth.gif") center/contain;
    background-repeat: no-repeat;
}

.home__donation .home__bible-text-for-donation {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.home__donation .home__to-donation-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60%;
    margin-bottom: 5%;
}

.home__donation .home__to-donation-page .home__donations-btn {
    width: 60%;
    height: 100%;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #FFA848;
    border-radius: 15px;
    transition: 0.5s;
    border: none;
}

@media (hover:hover) {
    .home__donation .home__to-donation-page .home__donations-btn:hover {
        background-color: #3f4359;
    }
}

@media(hover:none) {
    .home__donation .home__to-donation-page .home__donations-btn:active {
        background-color: #3f4359;
    }
}

/* Media Queries for Mobile and Tablet */
@media screen and (max-width: 1200px) {
    .home__big-family {
        flex-direction: column;
        height: auto;
    }

    .home__big-family-title {
        width: 100%;
        font-size: 24px;
    }

    .home__big-family-description {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .home__control-wrapper {
        width: 80%;
        height: 25rem;
    }

    .home__control-wrapper .home__wrapper-info h1 {
        font-size: 40px;
    }

    .home__control-wrapper .home__to-videos-page .home__videos-btn {
        width: 50%;
    }

    .home__donation .home__to-donation-page {
        width: 80%;
    }

    .home__donation .home__to-donation-page .home__donations-btn {
        width: 70%;
        font-size: 16px;
    }
}



@media screen and (max-width: 768px) {
    .home__welcome {
        padding: 5%;
        height: 40%;
    }

    .home__welcome-title {
        font-size: 40px;
    }

    .home__big-family {
        flex-direction: column;
        height: auto;
    }

    .home__big-family-title {
        width: 100%;
        font-size: 22px;
    }

    .home__big-family-description {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .home__control-wrapper .home__wrapper-info h1 {
        font-size: 30px;
    }

    .home__control-wrapper .home__to-videos-page .home__videos-btn {
        width: 60%;
        font-size: 25px;
    }

    .home__donation .home__gif {
        height: 4rem;
    }

    .home__donation .home__to-donation-page .home__donations-btn {
        width: 80%;
        font-size: 14px;
    }
}



@media screen and (max-width: 480px) {
    .home__welcome-title {
        font-size: 30px;
    }

    .home__big-family {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .home__big-family-description {
        font-size: 14px;
    }

    .home__control-wrapper {
        width: 90%;
        height: 20rem;
    }

    .home__control-wrapper .home__wrapper-info h1 {
        font-size: 25px;
    }

    .home__control-wrapper .home__to-videos-page .home__videos-btn {
        width: 70%;
    }

    .home__donation .home__gif {
        height: 3rem;
    }

    .home__donation .home__to-donation-page .home__donations-btn {
        width: 90%;
        font-size: 12px;
    }
}