
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/common/preloader/preloader.css" as="text/css">
    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">

</head>
<body>
    {{> preloader}}
    <script src="/public/common/preloader/preloader.js" type="text/javascript"></script>
    {{> header}}
    <link rel="preload" href="/public/images/home_header.webp" as="image">
    <link rel="stylesheet" href="/public/pages/home/home.css" type="text/css">
    <main>
        <div id="welcome">
            <h3>ԲԱՐԻ ԳԱԼՈՒՍՏ</h3>
            <h1>ԵՐԵՎԱՆԻ
                ՆՈՐ ՍԵՐՈՒՆԴ
                ԵԿԵՂԵՑԻ
            </h1>
        </div>

        {{> aboutChurch}}
        {{> aboutVideos}}
        {{> aboutDonation}}
    </main>   

    {{> footer}}
</body>

    <script defer src="/public/pages/home/home.js"></script>
</html>



