@import url("/public/pages/fonts.css");




body, html {
    margin:0%;
    width: 100%;
    min-height: 100vh;
    font-family: 'bainsley';
}

body {
    display: none;
}

:root {
    --animation-curve: cubic-bezier(1,0,0,1)
}



main {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    background-color: #000000;
}


#videoContainer {
    max-width: 80%;
    width: 80%;
    flex-grow: 1;
    background-color: #000000;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    border-style:none;

}


#video {
    margin-top: 5%; 
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#video > #videoPlayIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: url('/public/images/playVideo.png') no-repeat center;
    background-blend-mode: color;
    background-size: 15%;
    transition: 0.4s;
}


@media (hover:hover) {
    #video > #videoPlayIcon:hover {
        background-size: 20%;
        opacity: 0.8;
    }
}


@media(hover:none) {
    #video > #videoPlayIcon:active {
        background-size: 20%;
        opacity: 0.8;
    }
}



#title {
    color:white
}

.videoLoaded {
    background: none;
}

.videoLoaded > #videoPlayIcon {
    display: none;
}


#video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


#videoContainer #actions {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #1C1C1E;
    border: none;
    border-radius: 10px;
    gap: 5%;
    flex-basis: 10%;
}


#videoContainer #actions .actionPoint {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    flex-basis: 10%;
    min-height: 60px; 
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}


#videoContainer .actionPoint:hover {
    transform: scale(1.1) 
}


#videoContainer #actions .actionPoint p {
    width: 100%;
    height: 40%;
    margin: 0%;
    text-align: center;
}

#videoContainer #actions #donate {
    width: 100%;
    flex-grow: 1;
    background: url("/public/images/donation.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#videoContainer #actions #youtube {
    width: 100%;
    flex-grow: 1;
    background: url("/public/images/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#videoContainer #actions #share {
    width: 100%;
    flex-grow: 1;
    background: url("/public/images/share.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

}


#videoShareModal {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: white;
    gap: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed; 
    opacity: 0;
    transform: translate(-50%, -60%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


#videoShareModal::backdrop {
    backdrop-filter: blur(10px);
}


#videoShareModal.active {
    opacity: 1;
    transform: translate(0%, 0%);
}


#videoShareModal #modalHeader {
    width: 100%;
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
}


.voidLine {
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 5px;
    background-color: gray;
}



#modalHeader #closeShareModal  {
    position: absolute; 
    top: 0%; 
    right: 0%; 
    background: none;
    width: 16px;
    height: 16px;
    background: url('/public/images/closeModal.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}


#videoShareModal #socialNetworks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#socialNetworks h3 {
    text-align: left;
}


#socialNetworks #socialNetworkList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 5%;
}

#socialNetworkList .socialNetwork {
    flex-basis: 20%;
    height: 60px;
    cursor: pointer;
    border:none;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}



@media (hover:hover) {
    #socialNetworkList .socialNetwork:hover {
        transform: scale(1.1) 
    }
}


@media(hover:none) {
    #socialNetworkList .socialNetwork:active {
        transform: scale(1.1) 
    }
}






#socialNetworkList #facebook {
    background: url('/public/images/facebookIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




#socialNetworkList #twitter {
    background: url('/public/images/twitter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#socialNetworkList #threads {
    background: url("/public/images/threadsIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}





#videoShareModal #manualShare {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-top: 5%;
}



 #copyLink {
    width: 100%;
    height: 50px;
    padding: 1%;
    background-color: white;
    border-color: #1C1C1E;
    border-width: 1px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}






@media (hover:hover) {
      #copyLink:hover {
        background-color: #1C1C1E;
        color:white
    }   
}


@media(hover:none) {
     #copyLink:active {
        background-color: #1C1C1E;
        color:white
    }
}



#videoContainer #actions #like{
    width: 100%;
    flex-grow: 1;
    background: url('/public/images/likeVideo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}



.recomendation {
    background-color: #1C1C1E;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding-bottom: 5%;
    height: max-content;
}


.recomendation #otherVideos {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


main .recomendation #otherVideos .videoItem {
    width: 30%;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (hover:hover) {
    .videoItem:hover {
        transform: translateY(-10px); 
    }
}


@media(hover:none) {
    .videoItem:active {
        transform: translateY(-10px); 
    }
}


main .recomendation #otherVideos .videoItem .videoWrapper {
    padding-bottom: 56%;
    width: 100%;
    transition: 0.4s;
  }
  






@media screen and (min-width: 601px) and (max-width: 1024px) {
    main #backgroundBlock {
        min-height: 20rem;
        max-height: 25rem;
    }

    main #backgroundBlock > h1 {
        margin: 10%;
    }

    main #video {
        flex-direction: column;
    }


    #videoShareModal {
        width: 100%;
    }

    #socialNetworks #socialNetworkList {
        gap:0
    }


    #socialNetworkList .socialNetwork {
        height: 50px;
    }
    

    main .recomendation #otherVideos {
        width: 100%;
        min-height: 30vh;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }


    main .recomendation #otherVideos .videoItem {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        min-width: 90%;  
        min-height: 20rem;
    }

}




@media screen and (max-width: 600px) {

    main {
        flex-direction: column;
    }

    #videoContainer {
        max-width: 100%;
        width: 100%;
        height: max-content;
        min-height: auto;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-left: 0%;
        padding-right: 0%;
    }

    main #video {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    main #videoContainer #description #title {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        text-align: center;
    }


    #videoContainer #actions {
        border-radius: 0%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 5%;
    }

    #videoContainer #actions .actionPoint {
        flex-basis: 20%;
        min-height: 40px; 
        font-size: 14px;
        align-content: center;
    }


    #videoShareModal {
        width: 80%;
        transform: translate(-50%, -50%);
    }

    #videoShareModal.active {
        opacity: 1;
        transform: translate(0%, 30%);

    }

    #socialNetworkList .socialNetwork {
        height: 40px;
    }
    

    main .recomendation {
        flex-direction: column;
        width: 100%;
        height: max-content;
        min-height: max-content;
    }

    main .recomendation #recomendationHeader {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

    main .recomendation #otherVideos {
        width: 100%;
        min-height: 30vh;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }


    main .recomendation #otherVideos .videoItem {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        min-width: 80%;  
    }
} 









