
    

    
<main>
    <link rel="stylesheet" href="/public/pages/fonts.css" type="text/css">
    <link rel="stylesheet" href="/public/pages/visitUs/visitUs.css" type="text/css">

    <div id="visitUsBackgroud">
        <h1>ԱՅՑԵԼԵՔ ՄԵԶ</h1>
    </div>
    <div id="mainInfo">
        <div id="serviceSchedule" class="infoBar">
            <div id="scheduleInfo">
                <h2>ԿԻՐԱԿՆՕՐՅԱ ԾԱՌԱՅՈՒԹՅՈՒՆ</h2>
            <p><strong>
                Աստված օրհնեց յոթերորդ օրը և սրբագործեց այն,
                որովհետև այդ օրը հանգստացավ իր բոլոր գործերից, որ Աստված ստեղծեց ու արեց։
                Ծննդոց 2։ 3
            </strong></p>
            <p>
                Ամեն կիրակի<br>
                11:00-13:00
            </p>
            <p>
                <h2>Մանկական ծառայություն</h2><br>
                Ամեն կիրակի<br>
                12:00-13:00
            </p>
            <p>
                <h2>Պատանիների ծառայություն</h2><br>
                Ամեն կիրակի<br>
                13:00-15:00
            </p>
            <p>
                <h2>Երիտասարդների ծառայություն</h2><br>
                Ամեն հինգշաբթի<br>
                18:00-20:00
            </p>
            </div>
        </div>            

        <div id="churchContactInfo" class="infoBar">
            <div id="contactUs">
                <h2>ՀԵՏԱԴԱՐՁ ԿԱՊ</h2>
                <p>
                    +374 10 571 633<br>
                    <a href="https://www.facebook.com/newgenerationchurch.am">Facebook</a><br>
                    <a href="https://www.instagram.com/newgeneration_arm/">Instagram</a><br>
                    <a href="https://t.me/newgenerationarmenia">Telegram</a><br>
                </p>
            </div>
            <div id="churchAddress">
                <h2>ՀԱՍՑԵ</h2>
                <p>
                    Ք. Երևան, Տիգրան Մեծի<br>
                    պողոտա 80/1<br>
                </p>
            </div>
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.3869944561143!2d44.50694421069939!3d40.15593657136382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abc6d01f98ebb%3A0x7019e04881850fe8!2s1%2C%2080%20Tigran%20Mets%20Ave%2C%20Yerevan!5e0!3m2!1sru!2sam!4v1708188452725!5m2!1sru!2sam"
                    width="100%" 
                    height="100%"
                    style="border:0;"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</main>
